
body
{
    background-color: #DED0B6;
    
}


.overlay
{
    position: absolute;
    z-index: 20;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.505);
}

.heading
{
    text-align: center;
    font-family: 'Style Script', cursive;
    color: black;
    font-size: 4rem;

}

.container
{
     margin-left: 15%;
    margin-top: 5%;
    display: flex;
    width: 70%;
    margin:auto;
    justify-content: space-around;
    
}

/* all box---- */


.box
{
    
    display: block;
    color:white;
    transform-origin:center;
    transition: 500ms all;
    box-shadow: 0px 0px 40px white; 


}

.box:hover
{
    transform: translate(22px);
    box-shadow: 0px 0px 40px black; 
}

.cross
{
    cursor: pointer;
    width: 3%;
    height: 10%;
    position: absolute;
    left: 97%;
    top: 0.3%;
    /* left: 50.3%;  */
}
.first{
    background-color: #303655;
}

.second
{
  
    background-color: #647494;

}

.third
{
    background-color: #6f90af;

}
.common
{
    position: absolute;
    z-index: 40;
   
}


/* .text
{
    text-align: start;
} */

/* .btn
{
    color:white;
    background-color:black;
    border-radius: 15px;
    height: 40px;
}

.btn:hover
{
    background-color: #000001cd;
    color: white;
} */

.button
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hidden
{
    display: none;
}